{:blocks (
{:block/created-at 1685626597733
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "34530022-0081-11ee-8aa7-53ebd568f8d7"
:fontWeight 400
:noFill true
:point [709.58 708.47]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [357.74 0]
:bindingId "34530020-0081-11ee-8aa7-53ebd568f8d7"}
:end 
{:id "end"
:canBind true
:point [0 10.58]
:bindingId "34530021-0081-11ee-8aa7-53ebd568f8d7"}}
:decorations 
{:end "arrow"}
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:nonce 1685626542387
:italic false}}
:block/updated-at 1685626597733} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "64789d82-cee6-4331-beb7-14da7f9aea78"}
:block/parent 
{:block/uuid #uuid "64789d82-cee6-4331-beb7-14da7f9aea78"}
:block/properties 
{}
:block/uuid #uuid "64789f4b-3d06-412e-a0c7-d294af7e3332"} 
{:block/created-at 1685626512204
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "cost-experiment-private2"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 353.3811668113424]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "06278ae0-0081-11ee-8aa7-53ebd568f8d7"
:noFill false
:point [1048.247662742535 1126.9212231001286]
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:collapsedHeight 0
:nonce 1685626465075}}
:block/updated-at 1685626512204} 
{:block/created-at 1685626543855
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "312c44b2-0081-11ee-8aa7-53ebd568f8d7"
:fontWeight 400
:noFill true
:point [716.3 840.19]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [519.6 283.34]}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId nil}}
:decorations 
{:end "arrow"}
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:nonce 1685626537098
:italic false}}
:block/updated-at 1685626543855} 
{:block/created-at 1685626682302
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "cost-experiment-private1"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 376.41295487698096]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ec8afe50-0080-11ee-8aa7-53ebd568f8d7"
:noFill false
:point [1068.3182716049382 525.1672706910707]
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:collapsedHeight 354.70751350308615
:nonce 1685626422153}}
:block/updated-at 1685626682302} 
{:block/created-at 1685626537981
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "2e1c6ca2-0081-11ee-8aa7-53ebd568f8d7"
:fontWeight 400
:noFill true
:point [492.87 891.85]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [4.38 241.84]
:bindingId "2e1c6ca0-0081-11ee-8aa7-53ebd568f8d7"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "2e1c6ca1-0081-11ee-8aa7-53ebd568f8d7"}}
:decorations 
{:end "arrow"}
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:nonce 1685626531959
:italic false}}
:block/updated-at 1685626537981} 
{:block/created-at 1685626520053
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "cost-experiment-public1"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 353.9999999999998]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "844b10f0-0080-11ee-8aa7-53ebd568f8d7"
:noFill false
:point [305.5803559462752 533.8491454784674]
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:collapsedHeight 0
:nonce 1685626247521}}
:block/updated-at 1685626520053} 
{:block/created-at 1685626597795
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [78 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5180c9c0-0081-11ee-8aa7-53ebd568f8d7"
:padding 4
:fontWeight 400
:noFill true
:point [525.4086351218249 998.8116017582383]
:lineHeight 1.2
:fontSize 20
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:nonce 1685626591338
:italic false
:text "cost=2"}}
:block/updated-at 1685626597795} 
{:block/created-at 1685626522207
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "cost-experiment-public2"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 359.5625000000001]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b37de410-0080-11ee-8aa7-53ebd568f8d7"
:noFill false
:point [300.51862504231156 1134.6948021824942]
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:collapsedHeight 0
:nonce 1685626326760}}
:block/updated-at 1685626522207} 
{:block/created-at 1685626742478
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 8
:scale [1 1]
:pageId "cost-experiment-public1"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "987500d0-0081-11ee-8aa7-53ebd568f8d7"
:noFill false
:point [281.54736140250964 1712.5353435387096]
:parentId "64789d82-cee6-4331-beb7-14da7f9aea78"
:collapsedHeight 2026.9999999999995
:nonce 1685626710458}}
:block/updated-at 1685626742478})
:pages (
{:block/uuid #uuid "64789d82-cee6-4331-beb7-14da7f9aea78"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64789d82-cee6-4331-beb7-14da7f9aea78"
:name "cost experiment"
:bindings 
{:2e1c6ca0-0081-11ee-8aa7-53ebd568f8d7 
{:id "2e1c6ca0-0081-11ee-8aa7-53ebd568f8d7"
:type "line"
:fromId "2e1c6ca2-0081-11ee-8aa7-53ebd568f8d7"
:toId "b37de410-0080-11ee-8aa7-53ebd568f8d7"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:2e1c6ca1-0081-11ee-8aa7-53ebd568f8d7 
{:id "2e1c6ca1-0081-11ee-8aa7-53ebd568f8d7"
:type "line"
:fromId "2e1c6ca2-0081-11ee-8aa7-53ebd568f8d7"
:toId "844b10f0-0080-11ee-8aa7-53ebd568f8d7"
:handleId "end"
:point [0.46 0.45]
:distance 4}
:34530020-0081-11ee-8aa7-53ebd568f8d7 
{:id "34530020-0081-11ee-8aa7-53ebd568f8d7"
:type "line"
:fromId "34530022-0081-11ee-8aa7-53ebd568f8d7"
:toId "ec8afe50-0080-11ee-8aa7-53ebd568f8d7"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:34530021-0081-11ee-8aa7-53ebd568f8d7 
{:id "34530021-0081-11ee-8aa7-53ebd568f8d7"
:type "line"
:fromId "34530022-0081-11ee-8aa7-53ebd568f8d7"
:toId "844b10f0-0080-11ee-8aa7-53ebd568f8d7"
:handleId "end"
:point [0.48 0.54]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("844b10f0-0080-11ee-8aa7-53ebd568f8d7" "b37de410-0080-11ee-8aa7-53ebd568f8d7" "ec8afe50-0080-11ee-8aa7-53ebd568f8d7" "06278ae0-0081-11ee-8aa7-53ebd568f8d7" "2e1c6ca2-0081-11ee-8aa7-53ebd568f8d7" "312c44b2-0081-11ee-8aa7-53ebd568f8d7" "34530022-0081-11ee-8aa7-53ebd568f8d7" "5180c9c0-0081-11ee-8aa7-53ebd568f8d7" "987500d0-0081-11ee-8aa7-53ebd568f8d7")}}
:block/updated-at 1685626757645
:block/created-at 1685626242338
:block/type "whiteboard"
:block/name "cost experiment"
:block/original-name "cost experiment"})}