{:blocks (
{:block/created-at 1685958700653
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "vary-concurrency-public1"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 621.5942009427072]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7cb4aaa0-0386-11ee-8305-0174225a38f7"
:noFill false
:point [404.5 346.5]
:parentId "647db001-a899-439e-8b9e-371a4e708df2"
:collapsedHeight 0
:nonce 1685958664816}}
:block/updated-at 1685958700653} 
{:block/created-at 1685958763853
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "vary-concurrency-private1"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 556.6282044557472]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "94a29cd0-0386-11ee-8305-0174225a38f7"
:noFill false
:point [1338.4846961228789 373.59006921623563]
:parentId "647db001-a899-439e-8b9e-371a4e708df2"
:collapsedHeight 0
:nonce 1685958705341}}
:block/updated-at 1685958763853})
:pages (
{:block/uuid #uuid "647db001-a899-439e-8b9e-371a4e708df2"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "647db001-a899-439e-8b9e-371a4e708df2"
:name "647db001-a899-439e-8b9e-371a4e708df2"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("7cb4aaa0-0386-11ee-8305-0174225a38f7" "94a29cd0-0386-11ee-8305-0174225a38f7")}}
:block/updated-at 1685958763853
:block/created-at 1685958657864
:block/type "whiteboard"
:block/name "vary open connections"
:block/original-name "Vary Open Connections"})}